*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }


 /*Attributi box header */
header {
background-image: url('../img/pattern.png') ;
height: 90px;
background-size: 30%;
padding: 20px;
background-color: #639EF8;

 }

#booleaner-logo {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 200px;
}

/*Attributi box (titolo-sotto titolo- immagini) */
#box-title {
    margin-left: 10px;
    margin-top: 20px;
    width: 800px;
}

/*Attributi testo sotto al titolo*/
#under-title{
    font-weight: bold;
    color: grey;
}
#the-booleaner{
    color:#4BA1DD;
}
#data-10-10{
    font-size: 12px;
    color: gray;
}


/*Attributi prime due foto*/
#img-tim {
    margin-top: 20px;
    margin-left: 10px;
}
.text-under-tim {
    font-size: 12px;
}


/*Attributi div Lorem*/
.text-lorem {
    width: 1100px;
}

.evidenziato {
    background-color: yellow;
}



/*Attributi Lista*/
.central-divider {
    margin-left: 10px;
}

.central-text{ 
    margin-top: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}



/*Attributi tabella*/
th {
    text-align: left;
  }

td {
    padding: 10px;

  }

  
thead {
    background-color: #28A9E5;
    color: white;

  }


.dispari {
    background-color: #98d9ed;
  }

table {
    border: none;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 30px;

  }

.text {
    width: 50%;
}